<div class="app-header-inner">	
	
	<ul class="right-btns">
		<li class="app-profile">
			<div class="app-profile-image">
				
			</div>
			<span class="app-profile-details"> 
				<em class="title">Nipuna Nanayakkara</em>
				<em class="role">Admin</em>
			</span>
		</li>
		<li  class="dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-notification"></i>
				<span class="badge">2</span>
			</a>

			<div class="dropdown-menu">
		      <a class="dropdown-item" href="#">Link 1</a>
		      <a class="dropdown-item" href="#">Link 2</a>
		      <a class="dropdown-item" href="#">Link 3</a>
		    </div>

		</li>
		<li>
			<a href="javascript:void(0)" (click)="appLogout()"><i class="icon-power"></i></a>
		</li>
	</ul>

</div>