<div class="container app-login-form-wrapper">
 

	<form class="ui form app-form" >
		<h2>Property Management System</h2>
		<div class="ui segment app-form-inner app-login-form box-shadow">
			

			<div class="ui loader hide"></div>
		  	<div class="field">
		    	<label>Username / Email</label>
		    	<input name="empty" type="text">
		  	</div>
		  	<div class="field">
		    	<label>Password</label>
		    	<input name="empty" type="password">
		  	</div>
		  	<div class="inline field">
		    	<div class="ui checkbox">
		      		<input type="checkbox" name="remember_me" id="remember_me">
		      		<label for="remember_me">Remember Me</label>
		    	</div>
		  	</div>
		  	<button class="ui green button app-login" type="button" (click)="appLogin()" >Login</button>
		  	<div class="ui error message"></div> 
		</div>
		
	  	<p class="app-copyright">Propery Management System | All Rights Reserved <br/> © 2018 oozmm.com</p>
	</form>


	
</div>
