
<div class="app-top-stats row">	
	<div class="app-stats col-md-3">
		<div class="app-stat-content app-block" appRipple>	
			<h3>Bookings</h3>
			<h2>10</h2>
		</div>
	</div>
	<div class="app-stats col-md-3">
		<div class="app-stat-content app-block">	
			<h3>Check-ins</h3>
			<h2>2</h2>
		</div>
	</div>
	<div class="app-stats col-md-3">
		<div class="app-stat-content app-block">	
			<h3>Rooms Left</h3>
			<h2>4</h2>
		</div>
	</div>
	<div class="app-stats col-md-3">
		<div class="app-stat-content app-block">	
			<h3>Daily Sales</h3>
			<h2><span class="rs">Rs.</span>10,809</h2>
		</div>
	</div> 
</div>


<div class="app-charts row">
	<div class="app-stats col-md-6">
		<div class="app-block">	  
			<div id="app-area-chart"></div>
		</div> 
	</div> 
	<div class="app-stats col-md-3">	
		<div class="app-block">	
				<div id="app-donut-chart"></div>.
		</div>
	</div>
	<div class="app-stats col-md-3">	
		<div class="app-block">	
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi earum rerum voluptas eos delectus ea iusto error accusamus, quibusdam debitis aliquam dicta! Quis recusandae assumenda iusto omnis aperiam, optio explicabo. 
		</div>
	</div>
</div>
 
 